* {
  margin: 0;
  /* color: black; */
}

body {
  background-color: hsl(195, 19%, 80%);
}

.menu {
  font-size: 1.2rem;
  height: 6vh;
  display: flex;
  text-decoration: none;
  justify-content: space-around;
  border-style: solid;
  border-top-color: #262626;
  border-right-color: #262626;
  border-left-color: #262626;
  border-bottom-color: #b93730;
  border-width: 0.3rem;

  /* background-color: #cadce2; */
  font-family: "Julius Sans One";
}

.header h1 {
  margin-top: 4%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 8rem;
  /* color: #185e90; */
  /* background-color: #edd372; */
  /* text-shadow: -1px 0 #f5f5f5, 0 1px #aba9a9, 1px 0 #8a8a8a, 0 -1px #f5f5f5; */
}

.footer {
  height: 10vh;
  border-style: solid;
  border-bottom-width: 3px;
  color: #775867;
  border-top-color: #101111;
  border-right-color: #d1c1a9;
  border-left-color: #d1c1a9;
  border-bottom-color: #d1c1a9;
}

.home button:hover {
 
  border-color: #262626;
  /* color: #daaa00; */
  /* border-width: 0.3rem; */
  /* background: linear-gradient(
    to left,
    rgb(243, 216, 118),
    #daaa00,
    #be9500,
    rgb(243, 216, 118),
    #daaa00,
    rgb(243, 216, 118),
    #be9500,
    rgb(243, 216, 118) 70%
  ); */

  /* border-color: #6e5c73; */
}

.home p {
  background-color: #175e901a;
  border-style: double;
  border-color: #daab0036;
  /* color: #9b1c1f; */
  color: #185e90;
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
  padding: 1%;
}

.home {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
  /* background-color: #5c94a6; */
}

.backImg {
  display: flex;
  align-self: center;
  position: absolute;
  margin-left: 35%;
  margin-top: 2%;
  width: 25vw;
  height: 45vh;
  /* border-radius: 100%;
  margin: 2%;
  border-style: solid;

  border-color: #185e90;
  border-width: 0.3rem; */
}

.frontImg {
  position: relative;
  /* display: flex;
  flex-flow: column wrap;
  justify-content: center; */
  margin-left: 35%;
  width: 30vw;
  height: 50vh;
}
.content {
  font-family: "Cinzel", serif;
  font-size: 1.2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5%;
}

.content p {
  font-family: "nunito", sans-serif;
  margin: 2%;
}

.content img {
  width: 40%;
  height: 40%;
}

.cards {
  margin: 5%;
}

.card {
  text-align: center;
  font-family: "Julius Sans One";
}

.card p {
  font-size: 1.3rem;
  /* color: #183f6e; */
  text-transform: uppercase;
}

.card img {
  margin-top: 8%;
  width: 50%;
  height: 30%;
}

.card:hover {
  border-width: 0.3rem;
  border-color: #b93730;
}
.card img {
  margin: 0%;
  border-radius:2%; 
  width: 50%;
  /* height: 50%; */
}


.dbImages{
  display: flex;
  justify-content: center;
  width:21vw;
  height:auto;
  
}

.cards{
  /* display: flex; */
  /* flex-wrap: wrap-reverse !important; */
}

.dbImages button{

  margin-top: 10px !important;

}

.dbImages img {
  width:17vw;
}


.form{
  max-width:750px !important;
  padding: 24px !important;
  position: relative;
  background-color: #ffe4e7;
  border-style: solid;
  border-width: 1.5px;
  border-color: #b93730;
  border-radius: 3px;
  margin:200px !important;
}

.close {
  font-weight: bolder !important;
  color:#b93730 !important;
  border-radius: 50% !important;
}

.form button:hover{
  border-color:#b93730 !important;
  color:#b93730 !important;
}

.form input:hover{
  border-color:#b93730 !important;
  color:#b93730 !important;
}

.form input {
  max-width: 700px;
  /* margin-left:20px !important; */
}

.form button {
margin:10px;

}

.form img{
  width:30vw;
}

.description{
  
  height: 400px !important;
}