* {
  margin: 0;
  /* color: black; */
}

body {
  background-color: #e6e6e6 !important;
  
}

.menu {
  font-size: 1.2rem;
  height: 6vh;
  display: flex;
  text-decoration: none;
  justify-content: space-around;
  padding: 0.6rem;
  font-family: "Julius Sans One";
  font-weight: 700;

}

.navlink{
  transition: 0.3s ease all;
}

.navlink:hover {
  transform:scale(1.1);
} 

.navGradient {
  /* border-bottom-color: linear-gradient(to right, red, purple); */
  /* background: linear-gradient(to right, #da06c0, #13a260, #004f57, #6c1f85); */
  background: linear-gradient(to right, #262626, #262626 );
  /* background: linear-gradient(to left,#f9ce96, #ee8e68, #efa972, #f3c261, #efa972, #f9ce96 ); */
  padding-bottom: 0.15rem;

}

#newStoryHeader {
  display: flex;
  justify-content: center;
  font-family: "Julius Sans One";
  font-size: xx-large;
  margin-top: 40px;
  text-align: center;
  /* font-family: "Cinzel", serif; */
  /* font-family: "Nunito", sans-serif; */
}

.header h1 {
  margin-top: 15%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 7rem;
  color:#262626;
  /* text-shadow: -1px 0 silver, 0 1px silver, 1px 0 silver, 0 -1px silver; */
  /* background-color: #edd372; */
  /* text-shadow: -1px 0 #f5f5f5, 0 1px #aba9a9, 1px 0 #8a8a8a, 0 -1px #f5f5f5; */
}

.footer {
  height: 6vh;
  /* border-style: solid;
  color: #775867; */
}

.home button {

  font-size: x-large !important;
  font-family: "Cinzel";
  border: 1px solid transparent;
  display:flex;
  margin-left : 45%;
  margin-top: -80px;
  color: #3a3a3a !important;
  background-color: rgba(140,110,140,0.1);
  border-radius: 0;
  padding:16px 28px;
  text-align: center;
  line-height: 1px;
  
}

.home button:hover {
  border-color: #a58429;
  background-color: rgba(140,110,140,0.1);
/* background-image: linear-gradient(to bottom right, #da06c0, #13a260, #004f57, #6c1f85 100%); */
 /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.home p {

  color:#3a3a3a;
  background-color: rgba(140,110,140,0.1);
  font-size: 1.5rem;
  font-family:  "Julius Sans One";
  text-align: center;
  margin-left:100px; 
  margin-right:100px; 
  margin-top:-25px;
}

.home {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
  /* background-color: #5c94a6; */
}

/* #collage{

margin-top:2%;
margin-left: 30%;
  width: 300px;
  height: 100px;
display: flex;

} */

#collage{

  margin-left: 50%;
  max-width: 610px !important;
  max-height: 100px !important;
  position: relative !important;
  transform: translate(-50%, -50%);

}

#collageDiv{
  width: 80px;
  height: 80px;
  /* -webkit-filter: grayscale(100%); */
  filter: grayscale(100%); 
  padding:-100px !important;
  margin:0% !important;
  display:flex !important;
  flex-direction: column !important;
  background-size: auto;
  
}

.item{
  width: 0% !important;
  padding: 0% !important;
  margin: 0% !important;

}

#logo {
  display: flex;
  justify-content: center;
}

#logo img {
  height: 55vh;
  margin-top: 20px !important;
  margin: -45px;
  animation-name: example;
  animation-duration: 1s;
  /* filter:brightness(90%);
  filter:saturate(90%);  */
 
}

@keyframes example {

 from{margin: -280px; margin-top: 20px;}
 to{margin:-45px; margin-top: 20px} 
}


.content {
  font-family: "Cinzel", serif;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:10px;
  margin: 5%;
  margin-bottom:5px;
  background-color:#f7f6f1 !important;
  border-style: solid;
  border-radius: 3px;
  border-width:1px;
  border-color:#1f191f !important;
}

.content p {
  font-family: "Lato", sans-serif;
  text-align: justify;
  margin: 2.5%;
}

.content img {
  width: 25%;
  height: 25%;
  display: flex;
  margin: 1%;
  /* justify-content: center !important; */
}

.textImg{

  display: flex;
  justify-content: center;
}

#collection {
  margin-top: -2%;
}

.card {
  text-align: center;
  font-family: "Julius Sans One";
  background-color: #f7f6f1 !important;
  max-height: 21vw;
  max-width: 20.4vw;
  padding-bottom: 4vh !important;
  border-style: solid;
  border-width: 1.5px;

  
}

.card p {
  font-size: 1rem;
  color: #262626;
  text-transform: uppercase;
  /* margin-top:10px; */
}

.card:hover {

  border-style: solid;
  border-width: 1.5px;
  font-size: larger !important;
  /* border-image: linear-gradient(to bottom right,#f9ce96, #ee8e68, #efa972, #f3c261, #efa972, #f9ce96); */
  border-color: #a98316 !important;
}

.cardImg {
  margin: 16px;
  width: 16vw;
  height: 28vh;
  background-size: cover;
}

.dbImages {
  display: flex;
  justify-content: center;
  width: 20vw;
  height: 20.5vw;
}

.chooseBtn {
  margin-top: 10px !important;
  border-radius: 50% !important;
  font-size: 1.4rem !important;
  font-weight: bolder !important;
  height: 40px !important;
  width: 40px !important;
}

.chooseBtn p {
  text-align: center !important;
  margin-left: -3px !important;
}

.dbImages button:hover {
  color: #b93730;
  border-color: #b93730;
  /* border: 1px solid;
  border-radius: 50% !important;
  border-image-slice: 1;
  border-image: linear-gradient(to bottom right,#f9ce96, #ee8e68, #efa972, #f3c261, #efa972, #f9ce96);  */
}

.dbImages div {
  margin-right: 45px;
  width: 200px;
  height: 200px;
  background-size: cover;
}

.form {
  position: fixed;
  overflow: auto;
  width: 70%;
  height: 700px;
  padding: 44px !important;
  background-color: #f7f6f1;
  border-style: solid;
  border-width: 1.5px;
  border-color: #323131;
  border-radius: 3px;
  left: 10% !important;
  right: 0;
  top: 10px;
  z-index: 9999 !important;
}

.close {
  font-weight: bolder !important;
  font-size: larger !important;
  color: #b93730 !important;
  border: none !important;
  background-color: #f7f6f1 !important;
}

.close button:hover {
  width: 50px;
  height: auto;
}

.form button:hover {
  border-color: #b93730 !important;
  color: #b93730 !important;
}

.form input:hover {
  border-color: #b93730 !important;
  color: #b93730 !important;
}

.form input {
  max-width: 860px;
}

.form button {
  margin: 10px;
}

.form img {
  width: 30vw;
  margin-left: 25% !important;
}
.form p {
  color: red;
}

.description {
  height: 150px !important;
}

.saveBtn {
  display: flex !important;
  justify-content: center !important;
  margin-left: 42% !important;
}
